*{
  font-family: 'plus jakarta sans', sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.container {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 375px;
  height: 100vh;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: url("../../assets/images/map.jpg");
  background-size: cover;
}
.edit {
  gap: 35px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  width: 375px;
  height: 250px;
  z-index: 1000;
  bottom: 0;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.detail {
    padding: 0px;
    margin: 0px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  flex-direction: row;
  width: 340px;

}
.state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px 0 0 0;
  padding: 0px;
  height: 50px;
}
.icon {
  color: rgba(164, 15, 17, 1);
  width: 70px;
  height: 70px;
  padding: 22px;
  background-color: transparent;
  border-radius: 8px;
  margin: 0px;
  border: 2px solid #dfdfdf;
}
.edit h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: #303030;
  font-size: 15px;
}
.state h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 17.64px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
  color: black;
  font-size: 15px;
  align-self: start;
}
.state h4{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303030;
  line-height: 17.64px;
  width: 200px;
}
.edit-address{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
    width: 340px;
    height: 100px;
    border-radius: 14px;
    color: #fffdfd;
    background-color: #A40F11;
    border: none;
}
.search-top{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 50px;
}
.src-button{
  height: 45px;
  width: 45px;
  border-radius: 12px;
  background-color: #F9F9F9;
  border: 2px solid #dfdfdf;
}
.input-src input[type="text"] {
  
  border: none;
  text-decoration: none;
  display: inline;
  background-color: transparent;
  text-align: start;
  width: 100px;
  margin: 0px;
  color: black;
  font-weight: 300;
}

.input-src{
  height: 45px;
  width: 270px;
  border-radius: 12px;
  background-color: #f9f9f9;
  border: 2px solid #dfdfdf;

}

/* -------------------------------- */
.save::-webkit-scrollbar {
  width: 2px; /* Adjust scrollbar width */
}
.save{
  overflow-y: auto;
  font-family:'plus jakarta sans', sans-serif; ;
  gap: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  width: 375px;
  height: 350px;
  z-index: 1000;
  bottom: 0;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.save h1{
  font-size: 17px;
  font-weight: 600;
}
.state p{
  width: 330px;
  font-size: 12px;
  color: #111111;
}
.save h2{
  font-size: 15px;
  font-weight: 700;
}
.save-btn{
  width: 100%;
  gap: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.save-btn button{
  font-size: 12px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  border: none;
  border: 2px solid #dfdfdf;
}
.save h3{
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
input[type="text"]{
  width: 300px;
  border-radius: 8px;
  border: 2px solid #dfdfdf;
}
/* ---------------------------------------------- */
.address-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin: 8px 0 8px 0;
  color: #333;
  font-weight: 600;
}

.form-control {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  outline: none;
  border-color: #000;
}
